{% load static %}
<link rel="stylesheet"  href="{% static 'css/style.css' %}">
<h1 style="color:red" >Gestion des Utilisateurs</h1>
<a href="{% url 'utilisateur_add'%}">
    <button class="btn-ajouter">Ajouter</button>
</a>  
<br><br>  
<!--bouton de recherche-->
<form method="get" action="{%url 'liste_utilisateurs'%}">
    <input type="text" name="q" placeholder="Rechercher par nom, rôle,ou téléphone">
    <button type="submit" class="btn-ajouter">Rechercher</button>
    <a href="{% url 'liste_utilisateurs' %}">
        <button type="button" class="btn-ajouter">Réinitialiser</button>
    </a>    
</form>  

<table border="10" cellpadding="15" bgcolor="" width="100%" heigth="60%">
    <thead>
        <tr>
            <th>Nom d'utilisateur</th>
            <th>Rôle</th>
            <th>Téléphone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {%for p in utilisateurs%}
        <tr>
            <td>{{p.user.username }}</td>
            <td>{{p.role}}</td>
            <td>{{p.telephone}}</td>
            <td>{{p.id}}
            <td>
                 <a href="{%url 'utilisateur_edit' p.id%}">
                    <button class="btn-supprimer">Modifier</button>
                 </a>
            </td>
            <td>
                <a href="{%url 'utilisateur_delete' p.id%}">
                    <button class="btn-supprimer">Supprimer</button>
                </a>
            </td>         
        </tr>
        {%empty%}
        <tr>
            <td colspan="4">Aucun utilisateur trouvé</td>
        </tr>    
        {% endfor %}
    </tbody>
</table>           
